<template>
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="col-sm-4">
      <h4 class="mb-4">{{ organization.name }}</h4>
      <div class="card px-3 pb-1">
        <article class="card-body">
          <h4 class="card-title mb-4">Connexion</h4>
          <form @submit.prevent="submit">
            <div class="form-group">
              <label for="emailAddress">Email</label>
              <input
                  id="emailAddress"
                  :placeholder="`@${organization.slug}`"
                  :class="['form-control', { 'is-invalid': form.emailAddress.$error }]"
                  v-model.trim="form.emailAddress.$model"/>
              <div
                  v-for="$error in form.emailAddress.$errors"
                  :key="$error.$validator"
                  class="invalid-feedback">{{ $error.$message }}
              </div>
            </div>
            <div class="form-group">
              <router-link class="float-right" :to="{ name: 'reset-password-request'}">Mot de passe oublié ?
              </router-link>
              <label for="password">Mot de passe</label>
              <input
                  id="password"
                  type="password"
                  placeholder="*****"
                  :class="['form-control', { 'is-invalid': form.password.$error }]"
                  v-model.trim="form.password.$model"/>
              <div
                  v-for="$error in form.password.$errors"
                  :key="$error.$validator"
                  class="invalid-feedback">{{ $error.$message }}
              </div>
            </div>
            <div v-if="errorMessage">{{ errorMessage }}</div>
            <button class="btn btn-primary btn-block" type="submit" :disabled="form.$invalid">Connexion</button>
          </form>
        </article>
      </div>
      <div class="mt-3">
        <ul>
          <li><a href="#">Aide</a></li>
          <li><a href="#">Politique de confidentialité</a></li>
          <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {ref} from "vue";
import {useVuelidate} from "@vuelidate/core";
import {email, required} from "@vuelidate/validators";

import userService from "@/services/userService";
import {useRouter} from "vue-router";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";
import {useCurrentOrganization} from "@/hooks/useCurrentOrganization";
import {User} from "@/types";

export default {
  setup: () => {

    const organization = useCurrentOrganization();

    const router = useRouter();

    const emailAddress = ref("");
    const password = ref("");

    const errorMessage = ref("");

    const setCurrentUser = useSetCurrentUser();

    const form = useVuelidate({
      emailAddress: {required, email},
      password: {required}
    }, {emailAddress, password});

    const submit = async () => {
      form.value.$touch();
      if (!form.value.$invalid) {
        try {
          const user: User = await userService.login(emailAddress.value, password.value);
          await setCurrentUser(user);

          switch (user?.type) {
            case "student":
              await router.push({name: "student"});
              break;
            case "professor":
              await router.push({name: "professor"});
              break;
            case "admin":
              await router.push({name: "admin"});
              break;
          }
        } catch (error) {
          errorMessage.value = error.message;
        }
      }
    }

    return {
      organization,
      emailAddress,
      password,
      errorMessage,
      form,
      submit
    };
  }
};
</script>
