<template>
  <div v-if="path" class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-path-list' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">{{ path.name }}</h4>
    </div>
    <path-form :path="path" @submit-form="onSubmitForm($event)"/>
  </div>
  <div v-if="path" class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="mb-0">Matières</h4>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(course, index) in path.courses" :key="index">
        <td>{{ course.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">

import {ComponentPublicInstance, Path, RouteLocationNormalized} from "@/types";
import {NavigationGuardNext, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import PathForm from "@/components/PathForm.vue";

export default {
  components: {PathForm},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, pathId } = to.params;
      const path = await adminService.getOrganizationTrainingPath(organizationSlug, trainingSlug, schoolYear, +pathId);
      next(vm => (vm as ComponentPublicInstance).path = path)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const path = ref<Path>();

    const onSubmitForm = async (pathData: Path) => {
      const { organizationSlug, trainingSlug, schoolYear, pathId } = route.params;
      try {
        path.value = await adminService.updateOrganizationTrainingPath(organizationSlug, trainingSlug, schoolYear, +pathId, pathData);
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => route.params.schoolYear, schoolYear => {
      if(schoolYear) {
        router.replace({ name: 'organization-training-path-list', params: { ...route.params }})
      }
    });

    return {
      path,
      onSubmitForm
    };
  }
};
</script>
