<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Enseignements</h4>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Groupe</th>
        <th scope="col">Matière</th>
        <th scope="col">Professeur</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(teaching, index) in teachingList" :key="index">
        <td>
          <router-link :to="{ name: 'organization-training-teaching-edit', params: { teachingId: teaching.id }}">
          {{ teaching.group.name }}
          </router-link>
        </td>
        <td>
          {{ teaching.course.name }}
        </td>
        <td>
          {{ teaching.professor?.fullName }}
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationTrainingTeachingList(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationTrainingTeachingList(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationTrainingTeachingList(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {Teaching, User} from "@/types";
import adminService from "@/services/adminService";
import {useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";
import {useRoute} from "@/hooks/useRoute";

export default {
  components: {PageTrim},
  setup: () => {

    const router = useRouter();
    const route = useRoute();

    const teachingList = ref<Teaching[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);

    const getOrganizationTrainingTeachingList = async (page: number, mount = false) => {

      const params = {
        ...page && page !== 1 && { page: page }
      }

      const { organizationSlug, trainingSlug, schoolYear } = route.params;

      try {
        const { items, pages } = await adminService.getOrganizationTrainingTeachingList(organizationSlug, trainingSlug, schoolYear, params);

        if (page > pages) {
          await getOrganizationTrainingTeachingList(pages);
          return;
        }

        teachingList.value = items;
        totalPages.value = pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...params}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }


      } catch (error) {
        console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationTrainingTeachingList(page,true);
    })

    watch(() => route.params.schoolYear, (schoolYearParam) => {
      if(schoolYearParam) {
        getOrganizationTrainingTeachingList(1);
      }
    });

    return {
      teachingList,
      currentPage,
      totalPages,
      getOrganizationTrainingTeachingList,
    };
  }
};
</script>
