<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-path-group-list'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Ajouter un groupement de parcours</h4>
    </div>
    <path-group-form @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {useRouter} from "vue-router";
import {PathGroup} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import PathGroupForm from "@/components/PathGroupForm.vue";

export default {
  components: {PathGroupForm},
  setup: () => {

    const route = useRoute();
    const router = useRouter();

    const onSubmitForm = async (pathGroupData: PathGroup) => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        await adminService.createOrganizationTrainingPathGroup(organizationSlug, trainingSlug, schoolYear, pathGroupData);
        await router.push({ name: 'organization-training-path-group-list' })
      } catch (error) {
        // console.log(error);
      }
    }
    return {
      onSubmitForm
    };
  }
};
</script>
