<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Administrateurs</h4>
      <router-link class="btn btn-primary" :to="{ name: 'admin-organization-admin-create' }">Ajouter</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(admin, index) in admins" :key="index">
        <td>{{ admin.fullName }}</td>
        <td>{{ admin.email }}</td>
        <td class="text-right">
          <router-link  class="btn btn-primary" :to="{ name: 'admin-organization-admin-edit', params: { email: admin.email } }">Modifier</router-link>
          <a class="btn btn-danger ml-2" @click="onClickDelete(admin)">Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import {onMounted, ref} from 'vue'
import {Organization, Props, User} from "@/types";
import adminService from "@/services/adminService";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  props: {
    organization: Object
  },
  setup: (props: ComponentProps) => {
    const admins = ref<User[]>([]);

    onMounted(async () => {
      try {
        const organizationSlug = props.organization.slug;
        admins.value = await adminService.getOrganizationAdmins(organizationSlug);
      } catch (error) {
        // console.log(error)
      }
    })

    const onClickDelete = async (admin: User) => {
      try {
        await adminService.deleteOrganizationAdmin(props.organization.slug, admin.email);
        admins.value = admins.value.filter(adminParam => adminParam.email !== admin.email);
      } catch (error) {
        console.log(error);
      }
    }

    return {
      admins,
      onClickDelete
    };
  }
};
</script>
