<template>
  <div class="bg-white p-4" v-if="user">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'admin-organization-admins' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Modifier {{ user.fullName }}</h4>
    </div>
    <organization-user-form :user="user" @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {NavigationGuardNext} from "vue-router";
import OrganizationUserForm from "@/components/OrganizationUserForm.vue";
import {notFoundRoute} from "@/helpers";
import {ref} from "vue";
import {ComponentPublicInstance, Organization, Props, RouteLocationNormalized, User} from "@/types";
import adminService from "@/services/adminService";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  components: { OrganizationUserForm },
  props: {
    organization: Object
  },
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    const { organizationSlug, email } = to.params;
    try {
      const admin = await adminService.getOrganizationAdmin(organizationSlug, email);
      next(vm => (vm as ComponentPublicInstance).user = admin)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: (props: ComponentProps) => {
    const user = ref<User>();

    const onSubmitForm = async (userData: User) => {
      try {
        user.value = await adminService.updateOrganizationAdmin(props.organization.slug, user.value?.email as string, userData);
      } catch (error) {
        // console.log(error);
      }
    }
    return {
      user,
      onSubmitForm
    };
  }
};
</script>
