<template>
  <div v-if="group" class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-group-list' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">{{ group.name }}</h4>
    </div>
    <group-form :group="group" @submit-form="onSubmitForm($event)"/>
  </div>
  <router-view/>
</template>

<script lang="ts">

import {ComponentPublicInstance, Group, RouteLocationNormalized } from "@/types";
import {NavigationGuardNext, useRouter} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import GroupForm from "@/components/GroupForm.vue";
import {useRoute} from "@/hooks/useRoute";

export default {
  components: {GroupForm},
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear, groupSlug } = to.params;
      const group = await adminService.getOrganizationTrainingGroup(organizationSlug, trainingSlug, schoolYear, groupSlug);
      next(vm => (vm as ComponentPublicInstance).group = group)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const route = useRoute();
    const router = useRouter();
    const group = ref<Group>();

    const onSubmitForm = async (groupData: Group) => {
      const { organizationSlug, trainingSlug, schoolYear, groupSlug } = route.params;
      try {
        group.value = await adminService.updateOrganizationTrainingGroup(organizationSlug, trainingSlug, schoolYear, groupSlug, groupData);
        // TODO: handle group slug change
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => route.params.schoolYear, schoolYear => {
      if(schoolYear) {
        router.replace({ name: 'organization-training-group-list', params: { ...route.params }})
      }
    });

    return {
      group,
      onSubmitForm
    };
  }
};
</script>
