<template>
  <div v-if="training" class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <ul class="navbar-nav mr-auto">
        <router-link :to="{ name: 'admin-organization-trainings' }" class="mr-3 p-2">
          <i class="fas fa-arrow-left"></i>
        </router-link>
        <router-link :to="{ name: 'admin-organization-training' }">
          <a class="navbar-brand">{{ training.name }}</a>
        </router-link>
      </ul>
    </nav>
    <div class="d-flex flex-grow-1 overflow-auto">
      <router-view
          style="flex: 1;"
          class="overflow-auto"
          :training="training"
          @training-update="onTrainingUpdate($event)"
      ></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import {ref, watch, onMounted} from 'vue'
import {notFoundRoute} from "@/helpers";
import {NavigationGuardNext, useRouter} from "vue-router";
import {ComponentPublicInstance, RouteLocationNormalized, Training} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug } = to.params;
      const training = await adminService.getOrganizationTraining(organizationSlug, trainingSlug);

      next(vm => (vm as ComponentPublicInstance).training = training)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {

    // const route = useRoute();
    // const router = useRouter();

    const training = ref<Training>();

    // watch(training, () => {
    //   const { schoolYear } = route.params;
    //   if(!schoolYear && training.value?.sessions.length) {
    //     const lastSession = training.value.sessions[training.value.sessions.length - 1];
    //     // year.value = lastSession.schoolYear;
    //     router.push({ name: 'admin-organization-training-session', params: { schoolYear: lastSession.schoolYear }})
    //   }
    // });

    const onTrainingUpdate = (trainingParam: Training) => {
      training.value = trainingParam;
    }

    return {
      training,
      onTrainingUpdate,
    };
  }
};
</script>
