<template>
  <div v-if="currentSession" class="bg-white p-4 flex-grow-1">
    <session-form :session="currentSession" @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {Props, Session} from "@/types";
import {ref, watch} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import SessionForm from "@/components/SessionForm.vue";

interface ComponentProps extends Props {
  session: Session;
}

export default {
  components: {
    SessionForm
  },
  props: {
    session: Object
  },
  setup: (props: ComponentProps) => {

    const route = useRoute();
    const currentSession = ref<Session>();

    const onSubmitForm = async (sessionData: Session) => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        currentSession.value = await adminService.updateOrganizationTrainingSession(organizationSlug, trainingSlug, schoolYear, sessionData);
      } catch (error) {
        // console.log(error);
      }
    }

    watch(() => props.session, (session) => {
      if(session) {
        currentSession.value = session;
      }
    }, {
      immediate: true
    });

    return {
      currentSession,
      onSubmitForm
    };
  }
};
</script>
