<template>
  <div class="d-flex flex-column" v-if="session">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <ul class="navbar-nav mr-auto">
        <router-link :to="{ name: 'admin-organization-training' }" class="mr-3 p-2">
          <i class="fas fa-arrow-left"></i>
        </router-link>
        <router-link :to="{ name: 'admin-organization-training-session' }">
          <a class="navbar-brand">Session {{ session.schoolYear}}</a>
        </router-link>
      </ul>
      <ul class="navbar-nav" v-if="training?.sessions">
        <!-- toutes les années depuis la création de la formation-->
        <select id="inputState" class="form-control" v-if="training.sessions.length > 1" :value="session.schoolYear" @change="onYearChange($event.target.value)">
          <option v-for="(sessionParam, index) in training.sessions" :key="index" :value="sessionParam.schoolYear">{{ sessionParam.schoolYear }}</option>
        </select>
      </ul>
    </nav>
    <div class="d-flex flex-grow-1 overflow-auto">
      <ul class="list-group list-group-flush border-right bg-white">
<!--        <li class="list-group-item">-->
<!--          Classes-->
<!--        </li>-->
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-group-list' }">
          Groupes
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-student-list' }">
          Etudiants
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-path-group-list' }">
          Groupements de parcours
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-path-list' }">
          Parcours
        </router-link>
<!--        <li class="list-group-item">-->
<!--          <div class="pl-2">-->
<!--            Unités d'enseignement-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="list-group-item">-->
<!--          <div class="pl-2">-->
<!--            Groupements de cours-->
<!--          </div>-->
<!--        </li>-->
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-course-list' }">
          Matières
        </router-link>
        <router-link class="list-group-item disabled" active-class="active" :to="{ name: 'admin-organization-trainings' }">
          Professeurs
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-teaching-list' }">
          Enseignements
        </router-link>
        <router-link class="list-group-item" active-class="active" :to="{ name: 'organization-training-test-list' }">
          Devoirs
        </router-link>
      </ul>
      <router-view
          :session="session"
          style="flex: 1;"
          class="overflow-auto"
      ></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import {ref} from 'vue'
import {notFoundRoute} from "@/helpers";
import {NavigationGuardNext, useRoute, useRouter} from "vue-router";
import {ComponentPublicInstance, RouteLocationNormalized, Session} from "@/types";
import adminService from "@/services/adminService";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug, trainingSlug, schoolYear } = to.params;
      const session = await adminService.getOrganizationTrainingSession(organizationSlug, trainingSlug, schoolYear);
      next(vm => (vm as ComponentPublicInstance).session = session)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  async beforeRouteUpdate(to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) {
    if(from.params.schoolYear !== to.params.schoolYear) {
      const { organizationSlug, trainingSlug, schoolYear } = to.params;
      try {
        // @ts-ignore
        this.session = await adminService.getOrganizationTrainingSession(organizationSlug, trainingSlug, schoolYear);
        next()
      } catch (error) {
        next(notFoundRoute(to))
      }
    } else {
      next()
    }
  },
  props: {
    training: Object,
  },
  setup: () => {
    const router = useRouter();
    const route = useRoute();

    const session = ref<Session>();

    const onYearChange = (year: string) => {
      router.push({ ...route, params: { ...route.params, schoolYear: year}})
    }

    return {
      session,
      onYearChange,
    };
  }
};
</script>
