<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Etudiants</h4>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Groupes</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="col">
          <input
              id="fullName"
              :class="['form-control', { 'is-invalid': form.fullName.$error }]"
              v-model.lazy="form.fullName.$model"/>
          <div
              v-for="$error in form.fullName.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(student, index) in studentList" :key="index">
        <td>
            {{ student.fullName }}
        </td>
        <td>
          <router-link :to="{ name: 'organization-training-group', params: { groupSlug: group.slug }}" v-for="(group, index) in student.groups" :key="index">
            <span class="badge badge-secondary">
              {{ group.name }}
            </span>
          </router-link>
        </td>
        <td class="text-right">
<!--          <a class="btn btn-danger ml-2" @click="onClickDelete(course)">Supprimer</a>-->
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationTrainingStudentList(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationTrainingStudentList(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationTrainingStudentList(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {User} from "@/types";
import adminService from "@/services/adminService";
import {useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";
import {useRoute} from "@/hooks/useRoute";

export default {
  components: {PageTrim},
  setup: () => {

    const router = useRouter();
    const route = useRoute();

    const studentList = ref<User[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);

    const fullName = ref<string>(route.query.fullName);

    const form = useVuelidate({
      fullName: {},
    }, { fullName });

    const getOrganizationTrainingStudentList = async (page: number, mount = false) => {

      const params = {
        ...fullName.value && { fullName: fullName.value },
        ...page && page !== 1 && { page: page }
      }

      const { organizationSlug, trainingSlug, schoolYear } = route.params;

      try {
        const { items, pages } = await adminService.getOrganizationTrainingStudentList(organizationSlug, trainingSlug, schoolYear, params);

        if (page > pages) {
          await getOrganizationTrainingStudentList(pages);
          return;
        }

        studentList.value = items;
        totalPages.value = pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...params}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }


      } catch (error) {
        console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationTrainingStudentList(page,true);
    })

    watch([fullName], () => {
      getOrganizationTrainingStudentList(1);
    });

    // const onClickDelete = async (course: Course) => {
    //   const { organizationSlug, trainingSlug } = route.params;
    //   try {
    //     await adminService.deleteOrganizationTrainingCourse(organizationSlug, trainingSlug, course.id);
    //     studentList.value = studentList.value.filter(courseParam => courseParam.id !== course.id);
    //   } catch (error) {
    //     console.log(error);
    //   }
    // }


    return {
      studentList,
      currentPage,
      totalPages,
      // onClickDelete,
      getOrganizationTrainingStudentList,
      form
    };
  }
};
</script>
