<template>
  <div class="bg-white p-4 overflow-auto" v-if="courseList">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Matières</h4>
    </div>
    <ul>
      <li v-for="(course, index) in courseList" :key="index">{{ course.name }}</li>
    </ul>
  </div>
</template>

<script lang="ts">

import {onMounted, ref, watch} from "vue";
import {Course, Group} from "@/types";
import studentService from "@/services/studentService";
import {useRoute} from "vue-router";

export default {
  setup: () => {
    const route = useRoute() as any;
    const teachingByGroupList = ref<Group[]>([]);
    const courseList = ref<Course[]>([]);

    // const getSessionTeachings = async (schoolYear: string) => {
    //   try {
    //     teachingByGroupList.value = await studentService.getSessionTeachings(schoolYear);
    //   } catch (error) {
    //     // console.log(error)
    //   }
    // }

    const getSessionCourseList = async (schoolYear: string) => {
      try {
        courseList.value = await studentService.getSessionCourseList(schoolYear);
      } catch (error) {
        // console.log(error)
      }
    }

    onMounted(async () => {
      const {schoolYear} = route.params;
      // getSessionTeachings(schoolYear);
      getSessionCourseList(schoolYear);
    })


    watch(() => route.params.schoolYear, (schoolYear, prevSchoolYear) => {
      if (schoolYear && schoolYear !== prevSchoolYear) {
        // getSessionTeachings(schoolYear);
        getSessionCourseList(schoolYear);
      }
    });

    return {
      teachingByGroupList,
      courseList
    };
  }
};
</script>
