<template>
  <div class="bg-white p-4" v-if="teaching">
    <div class="d-flex align-items-center mb-3">
      <h4 class="mb-0">{{ teaching.course.name }}</h4>
    </div>
    <router-link :to="{ name: 'student-teaching-tests'}">Devoirs</router-link>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">

import {NavigationGuardNext} from "vue-router";
import {notFoundRoute} from "@/helpers";
import {ref} from "vue";
import {ComponentPublicInstance, RouteLocationNormalized, Teaching} from "@/types";
import studentService from "@/services/studentService";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    const { teachingId } = to.params;
    try {
      const teaching = await studentService.getTeaching(+teachingId);
      next(vm => (vm as ComponentPublicInstance).teaching = teaching)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  async beforeRouteUpdate(to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) {
    const { teachingId } = to.params;
    try {
      // @ts-ignore
      this.teaching = await studentService.getTeaching(+teachingId);
      next()
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const teaching = ref<Teaching>();

    return {
      teaching
    };
  }
};
</script>
