<template>
  <nav class="navbar main-navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavBar" aria-controls="adminNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="adminNavBar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link :to="{ name: 'admin-organizations' }" class="nav-link">
            Organisations
          </router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'admin-users' }" class="nav-link">
            Utilisateurs
          </router-link>
        </li>
      </ul>
      <ul class="navbar-nav" v-if="currentUser">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.email }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item" >{{ currentUser.fullName }} </span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-view></router-view>
</template>

<script lang="ts">
import {useCurrentUser} from "@/hooks/useCurrentUser";
import {useRouter} from "vue-router";
import Cookies from "js-cookie";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";

export default {
  setup: () => {
    const currentUser = useCurrentUser();
    const setCurrentUser = useSetCurrentUser();
    const router = useRouter();

    const onClickDisconnect = () => {
      Cookies.remove(window.env.JWT_COOKIE_HP, { domain: `.${window.env.DOMAIN}` });
      setCurrentUser(null);
      router.push({ name: "login"})
    }

    return {
      currentUser,
      onClickDisconnect
    };
  }
};
</script>
