<template>
  <div class="bg-white p-4 flex-grow-1">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'admin-organizations'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Ajouter une organisation</h4>
    </div>
    <organization-form @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import OrganizationForm from "@/components/OrganizationForm.vue";
import organizationService from "@/services/organizationService";
import {useRouter} from "vue-router";
import {Organization} from "@/types";

export default {
  components: { OrganizationForm },
  setup: () => {
    const router = useRouter();

    const onSubmitForm = async (organizationData: Organization) => {
      try {
        await organizationService.create(organizationData);
        await router.push({ name: 'admin-organizations'})
      } catch (error) {
        // console.log(error);
      }
    }
    return {
      onSubmitForm
    };
  }
};
</script>
