<template>
<!--  <div class="home">-->
<!--    <nav class="navbar navbar-expand-lg navbar-light">-->
<!--      <a class="navbar-brand" href="#">MyEducation</a>-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--        </ul>-->
<!--        <ul class="navbar-nav" v-if="currentUser">-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--              {{ currentUser.email }}-->
<!--            </a>-->
<!--            <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--              <span class="dropdown-item" >{{ currentUser.fullName }} </span>-->
<!--              <a v-if="currentUser.organization" target="_blank" :href="`https://${currentUser.organization.slug}.${domain}`" class="dropdown-item" >{{ currentUser.organization.name }} </a>-->
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="navbar-nav" v-else>-->
<!--          <router-link class="nav-link" :to="{ name: 'login'}">-->
<!--            Connexion-->
<!--          </router-link>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
  <!-- Responsive navbar-->
  <div style="overflow-y: scroll">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container px-5">
      <a class="navbar-brand" href="#!">MyEducation</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">A propos</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
          <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
        </ul>
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav" v-if="currentUser">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ currentUser.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <span class="dropdown-item" >{{ currentUser.fullName }} </span>
                      <a v-if="currentUser.organization" target="_blank" :href="`https://${currentUser.organization.slug}.${domain}`" class="dropdown-item" >{{ currentUser.organization.name }} </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>
                    </div>
                  </li>
                </ul>
                <ul class="navbar-nav" v-else>
                  <router-link class="nav-link" :to="{ name: 'login'}">
                    Connexion
                  </router-link>
                </ul>
      </div>
    </div>
  </nav>
  <!-- Header-->
  <header class="bg-primary py-5">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <div class="text-center my-5">
            <h1 class="display-5 fw-bolder text-white mb-2">Plateforme Saas de gestion de la scolarité</h1>
            <p class="lead text-white-50 mb-4">MyEducation est un outil de gestion de la scolarité pour les lycées, les centres de formation
              d’apprentis et les établissements du supérieur.</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
              <a class="btn btn-outline-light btn-lg px-4 me-sm-3" href="#features">Démarrer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Features section-->
  <section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
          <h2 class="h4 fw-bolder">Planning et salles</h2>
          <p>Visualisez facilement les plannings de vos différents ressources semaine par semaine (promotions, groupes, intervenants, salles), et saisissez à la volée toutes vos modifications.</p>
          <a class="text-decoration-none" href="#!">
            En savoir plus
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
          <h2 class="h4 fw-bolder">Vie scolaire</h2>
          <p>Gérez toute la scolarité dans MyEducation : assiduité, supports de cours, évaluations des étudiants, évaluation des enseignements, organisation des oraux, gestion des entreprises, suivi des stages.</p>
          <a class="text-decoration-none" href="#!">
            En savoir plus
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
        <div class="col-lg-4">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
          <h2 class="h4 fw-bolder">Espaces Web et appli mobile</h2>
          <p>Secrétariat, enseignants, étudiants, ..., chacun accède aux fonctionnalités dont il a besoin depuis son ordinateur, une tablette ou son téléphone.</p>
          <a class="text-decoration-none" href="#!">
            En savoir plus
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Pricing section-->
  <section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">Une offre modulaire</h2>
        <p class="lead mb-0">A partir de 50 centimes TTC /élève /mois</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <!-- Pricing card free-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0 text-white bg-primary">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold">Base</div>
              <div class="mb-3">
                <span class="display-4 fw-bold">0,50€</span>
                <span class="">/élève /mois</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Etudiants, enseignants et personnels
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Promotions, groupes et regroupements
                </li>
                <li class="mb-2">
                  <i class="bi bi-x"></i>
                  Parcours et matières
                </li>
                <li class="mb-2">
                  <i class="bi bi-x"></i>
                  Cours
                </li>
              </ul>
              <div class="d-grid"><a class="btn btn-outline-light" href="#!">Souscrire</a></div>
            </div>
          </div>
        </div>
        <!-- Pricing card pro-->
        <div class="col-lg-6 col-xl-4">
          <div class="card mb-5 mb-xl-0">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold">
                <i class="bi bi-star-fill text-warning"></i>
                Module notation
              </div>
              <div class="mb-3">
                <span class="display-4 fw-bold">0,18€</span>
                <span class="text-muted">/élève /mois</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Modules et services
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Devoirs
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Notes
                </li>
                <li class="mb-2">
                  <i class="bi bi-x"></i>
                  Modes d'évaluation
                </li>
                <li class="mb-2">
                  <i class="bi bi-x"></i>
                  Bulletins et relevés de notes
                </li>
              </ul>
              <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Ajouter ce module</a></div>
            </div>
          </div>
        </div>
        <!-- Pricing card enterprise-->
        <div class="col-lg-6 col-xl-4">
          <div class="card">
            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold text-muted">Module emploi du temps</div>
              <div class="mb-3">
                <span class="display-4 fw-bold">0,25€</span>
                <span class="text-muted">/élève /mois</span>
              </div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Salles
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Cours et séances
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Plannings
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Présences
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  Oraux
                </li>
              </ul>
              <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Ajouter ce module</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact section-->
  <section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h2 class="fw-bolder">Contactez-nous</h2>
        <p class="lead mb-0">Comment pouvons-nous vous aider ?</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <!-- Name input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Entrer votre nom..." data-sb-validations="required" />
              <label for="name">Nom</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <!-- Email address input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
              <label for="email">Adresse email</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
              <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" type="tel" placeholder="(+33) 685 634 582" data-sb-validations="required" />
              <label for="phone">Téléphone</label>
              <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Entrer votre message ici..." style="height: 10rem" data-sb-validations="required"></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">Envoyer</div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br />
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <!-- Submit Button-->
            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Envoyer</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; MyEducation 2021</p></div>
  </footer>
  </div>
</template>

<script lang="ts">
import {useCurrentUser} from "@/hooks/useCurrentUser";
import Cookies from "js-cookie";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";

export default {
  setup: () => {
    const currentUser = useCurrentUser();
    const setCurrentUser = useSetCurrentUser();

    const onClickDisconnect = () => {
      Cookies.remove(window.env.JWT_COOKIE_HP, { domain: `.${window.env.DOMAIN}`});
      setCurrentUser(null);
    }

    return {
      currentUser,
      onClickDisconnect,
      domain: window.env.DOMAIN
    }
  }
}

</script>
