<template>
  <template v-if="organization">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
      <router-link :to="{ name: 'admin-organizations' }" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <router-link :to="{ name: 'admin-organization' }">
        <a class="navbar-brand">{{ organization.name }}</a>
      </router-link>
      <div class="collapse navbar-collapse" id="organizationNavBar">
        <ul class="navbar-nav mr-auto">
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-students' }">
            Etudiants
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-professors' }">
            Professeurs
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-admins' }">
            Administrateurs
          </router-link>
          <router-link class="nav-link" active-class="active" :to="{ name: 'admin-organization-trainings' }">
            Formations
          </router-link>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#organizationNavBar" aria-controls="organizationNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <router-view
        style="flex: 1;"
        class="overflow-auto"
        :organization="organization"
        @organization-update="onOrganizationUpdate($event)"
    ></router-view>
  </template>
</template>

<script lang="ts">
import {ref} from 'vue'
import organizationService from "@/services/organizationService";
import {notFoundRoute} from "@/helpers";
import {NavigationGuardNext, RouteLocationNormalized} from "vue-router";
import {ComponentPublicInstance, Organization} from "@/types";

export default {
  beforeRouteEnter: async (to: RouteLocationNormalized, from: RouteLocationNormalized, next: NavigationGuardNext) => {
    try {
      const { organizationSlug } = to.params;
      const organization = await organizationService.getOrganization(organizationSlug as string);
      next(vm => (vm as ComponentPublicInstance).organization = organization)
    } catch (error) {
      next(notFoundRoute(to))
    }
  },
  setup: () => {
    const organization = ref<Organization>();

    const onOrganizationUpdate = (organizationParam: Organization) => {
      organization.value = organizationParam;
    }

    return {
      organization,
      onOrganizationUpdate
    };
  }
};
</script>
