<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Formations</h4>
      <!--      <router-link class="btn btn-primary" :to="{ name: 'admin-organization-professors' }">Ajouter</router-link>-->
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Slug</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="col">
          <input
              id="name"
              :class="['form-control', { 'is-invalid': form.name.$error }]"
              v-model.lazy="form.name.$model"/>
          <div
              v-for="$error in form.name.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col">
          <input
              id="slug"
              :class="['form-control', { 'is-invalid': form.slug.$error }]"
              v-model.lazy="form.slug.$model"/>
          <div
              v-for="$error in form.slug.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(training, index) in trainings" :key="index">
        <td>
          <router-link
              :to="{ name: 'admin-organization-training', params: { trainingSlug: training.slug } }">
            {{ training.name }}
          </router-link>
        </td>
        <td>{{ training.slug }}</td>
        <td class="text-right">
          <!--          <a class="btn btn-danger ml-2" @click="onClickDelete(professor)">Supprimer</a>-->
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationTrainings(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationTrainings(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationTrainings(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {Organization, Props, Route, Training} from "@/types";
import adminService from "@/services/adminService";
import {useRoute, useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";

interface ComponentProps extends Props {
  organization: Organization
}

export default {
  components: {PageTrim},
  props: {
    organization: Object
  },
  setup: (props: ComponentProps) => {

    const router = useRouter();
    const route = useRoute() as Route;

    const trainings = ref<Training[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);


    const name = ref<string>(route.query.name);
    const slug = ref<string>(route.query.slug);

    const form = useVuelidate({
      name: {},
      slug: {}
    }, { name, slug });

    const getOrganizationTrainings = async (page: number, mount = false) => {

      const filterParams = {
        ...name.value && { name: name.value },
        ...slug.value && { slug: slug.value },
      }

      try {
        const organizationSlug = props.organization.slug;
        const {items, pages} = await adminService.getOrganizationTrainings(organizationSlug, {...filterParams, page: page.toString()});

        if (page > pages) {
          await getOrganizationTrainings(pages);
          return;
        }

        trainings.value = items;
        totalPages.value = pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...filterParams}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }

      } catch (error) {
        // console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationTrainings(page,true);
    })

    watch([name, slug], () => {
      getOrganizationTrainings(1);
    });


    return {
      trainings,
      currentPage,
      totalPages,
      getOrganizationTrainings,
      form
    };
  }
};
</script>
