<template>
  <div class="bg-white p-4">
    <organization-form :organization="organization" @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">
import OrganizationForm from "@/components/OrganizationForm.vue";
import organizationService from "@/services/organizationService";
import {Organization, Props, SetupContext} from "@/types";

interface ComponentProps extends Props {
  organization: Organization;
}

export default {
  components: { OrganizationForm },
  props: {
    organization: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const onSubmitForm = async (organizationData: Organization) => {
      try {
        const organization = await organizationService.update(props.organization.slug, organizationData);
        emit('organization-update', organization);
      } catch (error) {
        // console.log(error);
      }
    }

    return {
      onSubmitForm
    };
  }
};
</script>
