<template>
  <div class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="mb-0">Enseignements</h4>
      <router-link class="btn btn-primary" :to="{ name: 'organization-training-course-teaching-create' }">Créer</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Groupe</th>
        <th scope="col">Professeur</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(teaching, index) in teachingList" :key="index">
        <td>{{ teaching.group.name }}</td>
        <td>{{ teaching.professor?.fullName }}</td>
        <td class="text-right">
          <router-link class="btn btn-primary ml-2" :to="{ name: 'organization-training-course-teaching-edit', params: { groupSlug: teaching.group.slug }}">
            Modifier
          </router-link>
          <button class="btn btn-danger ml-2" @click="removeTeaching(teaching)">Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">

import {Organization, Teaching} from "@/types";
import {onMounted, ref} from "vue";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import organizationService from "@/services/organizationService";

export default {
  setup: () => {
    const route = useRoute();

    const teachingList = ref<Teaching[]>([]);

    onMounted(async () => {
      const { organizationSlug, trainingSlug, schoolYear, courseId } = route.params;
      try {
        teachingList.value = await adminService.getOrganizationTrainingCourseTeachingList(organizationSlug, trainingSlug, schoolYear, +courseId);
      } catch (e) {
        // console.log(e)
      }
    })

    const removeTeaching = async (teaching: Teaching) => {
      const { organizationSlug, trainingSlug, schoolYear, courseId } = route.params;
      try {
        await adminService.removeOrganizationTrainingCourseTeaching(organizationSlug, trainingSlug, schoolYear, +courseId, teaching.group.slug);
        teachingList.value = teachingList.value.filter(teachingData => teachingData.id !== teaching.id)
      } catch (error) {
        console.log(error);
      }
    }

    return {
      teachingList,
      removeTeaching
    };
  }
};
</script>
