<template>
  <div v-for="(session, index) in sessions" :key="index">
    <router-link :to="{name: 'student-session', params: { schoolYear: session.schoolYear }}">{{ session.schoolYear}}</router-link>
  </div>
</template>

<script lang="ts">

export default {
  props: {
    sessions: Object
  },
  setup: () => {
    return {}
  }
}

</script>
