<template>
  <div class="row justify-content-center align-items-center" style="height: 100%;">
    <div class="card col-sm-4">
      <article class="card-body">
        <h4 class="card-title mb-4 mt-1">MyEducation Admin</h4>
        <form @submit.prevent="submit">
          <div class="form-group">
            <label for="emailAddress">Email</label>
            <input
                id="emailAddress"
                :class="['form-control', { 'is-invalid': form.emailAddress.$error }]"
                v-model.trim="form.emailAddress.$model" />
            <div
                v-for="$error in form.emailAddress.$errors"
                :key="$error.$validator"
                class="invalid-feedback">{{ $error.$message }}</div>
          </div>
          <div class="form-group">
            <a class="float-right" href="#">Mot de passe oublié ?</a>
            <label for="password">Mot de passe</label>
            <input
                id="password"
                type="password"
                placeholder="*****"
                :class="['form-control', { 'is-invalid': form.password.$error }]"
                v-model.trim="form.password.$model"/>
            <div
                v-for="$error in form.password.$errors"
                :key="$error.$validator"
                class="invalid-feedback">{{ $error.$message }}</div>
          </div>
          <div v-if="errorMessage">{{ errorMessage }}</div>
          <button class="btn btn-primary btn-block" type="submit" :disabled="form.$invalid">Connexion</button>
        </form>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
import { ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import {email, required} from "@vuelidate/validators";

import {useRouter} from "vue-router";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";
import {User} from "@/types";
import adminService from "@/services/adminService";
import {useRedirectRoute} from "@/hooks/useRedirectRoute";

export default {
  setup: () => {

    const router = useRouter();

    console.log(window.env);

    const emailAddress = ref("");
    const password = ref("");

    const errorMessage = ref("");

    const setCurrentUser = useSetCurrentUser();

    const [ redirectRoute, setRedirectRoute ] = useRedirectRoute();

    const form = useVuelidate({
      emailAddress: { required, email },
      password: { required }
    }, { emailAddress, password });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const user: User = await adminService.login(emailAddress.value, password.value);
          await setCurrentUser(user);
          if(redirectRoute) {
            await router.push(redirectRoute)
            setRedirectRoute(null);
          } else {
            await router.push({ name: "home"});
          }
        } catch (error) {
          console.log(error)
          errorMessage.value = error.message;
        }
      }
    }

    return {
      emailAddress,
      password,
      errorMessage,
      form,
      submit
    };
  }
};
</script>
