<template>
  <div class="bg-white p-4 flex-grow-1 border-left">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-group-student-list'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Ajouter un étudiant</h4>
    </div>
    <div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="searchTerm">Rechercher</label>
            <input
                id="searchTerm"
                :class="['form-control', { 'is-invalid': form.searchTerm.$error }]"
                v-model.trim="form.searchTerm.$model" />
            <div
                v-for="$error in form.searchTerm.$errors"
                :key="$error.$validator"
                class="invalid-feedback">{{ $error.$message }}</div>
          </div>
        </div>
      </form>
      <div class="list-group">
        <button v-for="(student, index) in students" :key="index" @click="onClickAttach(student)" class="list-group-item list-group-item-action flex-column align-items-start">
          <p class="mb-0">{{ student.fullName }}</p>
          <small>{{ student.email }}</small>
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">

import {User} from "@/types";

import {ref, watch} from "vue";
import {useVuelidate} from "@vuelidate/core";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import {useRouter} from "vue-router";

export default {
  setup: () => {
    const route = useRoute();
    const router = useRouter();

    const students = ref<User[]>([]);

    const searchTerm = ref<string>("");

    const form = useVuelidate({
      searchTerm: {},
    }, { searchTerm });

    const getOrganizationStudents = async () => {

      const { organizationSlug, groupSlug } = route.params;

      const filterQueryParams = {
        exceptGroup: groupSlug,
        limit: 5,
        searchTerm: searchTerm.value
      }

      try {
        const { items } = await adminService.getOrganizationStudents(organizationSlug, filterQueryParams);
        students.value = items;

      } catch (error) {
        // console.log(error)
      }
    }

    const onClickAttach = async (student: User) => {
      const { organizationSlug, trainingSlug, schoolYear, groupSlug } = route.params;
      try {
        await adminService.attachOrganizationTrainingGroupStudent(organizationSlug, trainingSlug, schoolYear, groupSlug, student.email);
        router.push({ name: "organization-training-group-student-list"})
      } catch (e) {
        // console.log(e)
      }
    }

    watch([searchTerm], () => {
      getOrganizationStudents();
    }, { immediate: true});

    return {
      students,
      onClickAttach,
      form
    };
  }
};
</script>
