<h1>Hi!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ resetLink }}">Reset Password</a>

<p>This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>

<p>Cheers!</p>
