<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4>Matières</h4>
      <router-link class="btn btn-primary mr-3" :to="{ name: 'organization-training-course-create' }">Ajouter</router-link>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Parcours</th>
        <th scope="col"></th>
      </tr>
      <tr>
        <th scope="col">
          <input
              id="name"
              :class="['form-control', { 'is-invalid': form.name.$error }]"
              v-model.lazy="form.name.$model"/>
          <div
              v-for="$error in form.name.$errors"
              :key="$error.$validator"
              class="invalid-feedback">{{ $error.$message }}</div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(course, index) in courseList" :key="index">
        <td>
          <router-link :to="{ name: 'organization-training-course', params: { courseId: course.id }}">
            {{ course.name }}
          </router-link>
        </td>
        <td>
            {{ course.path?.name }}
        </td>
        <td class="text-right">
          <a class="btn btn-danger ml-2" @click="onClickDelete(course)">Supprimer</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-toolbar float-right">
      <page-trim :total-pages="totalPages" :page="currentPage" container-class="btn-group mr-2">
        <template #previous="{ page, disabled }">
          <div class="btn-group mr-2" role="group">
            <button
                @click="getOrganizationTrainingCourses(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Précédent</button>
          </div>
        </template>

        <template #default="{ page, active }">
          <button
              @click="getOrganizationTrainingCourses(page)"
              type="button"
              :class="['btn btn-outline-secondary', { 'active': active }]">{{ page }}
          </button>
        </template>

        <template #ellipsize>
          <button type="button" class="btn btn-outline-secondary" disabled>...</button>
        </template>

        <template #next="{ page, disabled }">
          <div class="btn-group" role="group">
            <button
                @click="getOrganizationTrainingCourses(page)"
                type="button" class="btn btn-outline-secondary" :disabled="disabled">Suivant</button>
          </div>
        </template>
      </page-trim>
    </div>
  </div>
</template>

<script lang="ts">
import {onMounted, ref, watch} from 'vue'
import {Course} from "@/types";
import adminService from "@/services/adminService";
import {useRouter} from "vue-router";
import PageTrim from "@/components/PageTrim.vue";
import {useVuelidate} from "@vuelidate/core";
import {useRoute} from "@/hooks/useRoute";

export default {
  components: {PageTrim},
  setup: () => {

    const router = useRouter();
    const route = useRoute();

    const courseList = ref<Course[]>([]);

    const currentPage = ref<number>();
    const totalPages = ref<number>(1);

    const name = ref<string>(route.query.name);

    const form = useVuelidate({
      name: {},
    }, { name });

    const getOrganizationTrainingCourses = async (page: number, mount = false) => {

      const params = {
        ...name.value && { name: name.value },
        ...page && page !== 1 && { page: page }
      }

      const { organizationSlug, trainingSlug, schoolYear } = route.params;

      try {
        const { items, pages } = await adminService.getOrganizationTrainingCourseList(organizationSlug, trainingSlug, schoolYear, params);

        if (page > pages) {
          await getOrganizationTrainingCourses(pages);
          return;
        }

        courseList.value = items;
        totalPages.value = pages;

        currentPage.value = page

        const newRoute = {...route, query: {page, ...params}};

        if (page === 1) {
          delete newRoute.query.page;
        }

        if (mount) {
          await router.replace(newRoute);
        } else {
          await router.push(newRoute);
        }


      } catch (error) {
        console.log(error)
      }
    }

    onMounted(() => {
      let page = 1
      if(route.query.page && +route.query.page !== 0) {
        page = +route.query.page;
      }
      getOrganizationTrainingCourses(page,true);
    })

    watch(name, () => {
      getOrganizationTrainingCourses(1);
    });

    watch(() => route.params.schoolYear, (schoolYear) => {
      if(schoolYear) {
        getOrganizationTrainingCourses(1);
      }
    });

    const onClickDelete = async (course: Course) => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        await adminService.deleteOrganizationTrainingCourse(organizationSlug, trainingSlug, schoolYear, course.id);
        courseList.value = courseList.value.filter(courseParam => courseParam.id !== course.id);
      } catch (error) {
        console.log(error);
      }
    }


    return {
      courseList,
      currentPage,
      totalPages,
      onClickDelete,
      getOrganizationTrainingCourses,
      form
    };
  }
};
</script>
