<template>
  <div class="bg-white p-4">
    <div class="d-flex align-items-center mb-3">
      <router-link :to="{ name: 'organization-training-course-list'}" class="mr-3 p-2">
        <i class="fas fa-arrow-left"></i>
      </router-link>
      <h4 class="mb-0">Ajouter une matière</h4>
    </div>
    <course-form @submit-form="onSubmitForm($event)"/>
  </div>
</template>

<script lang="ts">

import {useRouter} from "vue-router";
import {Course} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";
import CourseForm from "@/components/CourseForm.vue";

export default {
  components: {CourseForm},
  setup: () => {

    const route = useRoute();
    const router = useRouter();

    const onSubmitForm = async (courseData: Course) => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        await adminService.createOrganizationTrainingCourse(organizationSlug, trainingSlug, schoolYear, courseData);
        await router.push({ name: 'organization-training-course-list' })
      } catch (error) {
        // console.log(error);
      }
    }
    return {
      onSubmitForm
    };
  }
};
</script>
