<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="slug">Slug</label>
        <input
            :disabled="group"
            id="slug"
            :class="['form-control', { 'is-invalid': form.slug.$error }]"
            v-model.trim="form.slug.$model"/>
        <div
            v-for="$error in form.slug.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="path">Parcours</label>
        <select
            id="path"
            :class="['form-control', { 'is-invalid': form.pathId.$error }]"
            v-model="form.pathId.$model">
          <option :value="null">Aucun</option>
          <option v-for="(path, index) in paths" :value="path.id" :key="index">
            {{ path.name }}
          </option>
        </select>
        <div
            v-for="$error in form.pathId.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}
        </div>
      </div>
    </div>

<!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ group ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {onMounted, ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import {Group, Path, Props, SetupContext} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

interface ComponentProps extends Props {
  group: Group;
}

export default {
  props: {
    group: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const route = useRoute();

    const paths = ref<Path[]>([]);

    const name = ref();
    const slug = ref();
    const pathId = ref();

    watch(() => props.group, (group) => {
      name.value = group?.name;
      slug.value = group?.slug;
      pathId.value = group?.path?.id || null;
    }, { immediate: true });

    onMounted(async () => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        const { items } = await adminService.getOrganizationTrainingPathList(organizationSlug, trainingSlug, schoolYear, { limit: 100 });
        paths.value = items;
      } catch (e) {
        // console.log(e)
      }
    })

    const form = useVuelidate({
      name: { required },
      slug: { required },
      pathId: {},
    }, { name, slug, pathId });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const organizationData = {
            name: name.value,
            slug: slug.value,
            path: pathId.value
          };
          emit('submit-form', organizationData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      name,
      slug,
      form,
      paths,
      submit
    };
  }
};
</script>
