<template>
  <slot name="previous" :page="page - 1" :disabled="page <= 1"></slot>
  <div :class="containerClass" role="group" aria-label="Pages">
    <template v-if="totalPages > 7">
      <slot :page="1" :active="page === 1"></slot>
      <slot name="ellipsize" v-if="page - 1 > 3"></slot>

      <template v-if="(page - 1 > 3) && (totalPages - page > 3)">
        <slot :page="page - 1"></slot>
        <slot :page="page" :active="true"></slot>
        <slot :page="page + 1"></slot>
      </template>

      <template v-else-if="(page - 1 <= 3)">
        <slot v-for="pageIndex in 4" :page="pageIndex + 1" :active="page === pageIndex + 1"></slot>
      </template>
      <template v-else-if="(totalPages - page <= 3)">
        <slot v-for="pageIndex in 4" :page="totalPages - (5 - pageIndex)" :active="page === totalPages - (5 - pageIndex)"></slot>
      </template>
      <slot name="ellipsize" v-if="totalPages - page > 3"></slot>
      <slot :page="totalPages" :active="page === totalPages"></slot>
    </template>
    <template v-else>
      <slot v-for="pageIndex in totalPages" :page="pageIndex" :active="page === pageIndex"></slot>
    </template>
  </div>
  <slot name="next" :page="page + 1" :disabled="page >= totalPages"></slot>
</template>

<script lang="ts">

export default {
  props: {
    totalPages: Number,
    page: Number,
    containerClass: String
  },
  setup: () => {
    return {};
  }
};
</script>
