<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="form-check">
          <input
              id="uniqueChoice"
              class="form-check-input"
              type="checkbox"
              :class="['form-check-input', { 'is-invalid': form.uniqueChoice.$error }]"
              v-model="form.uniqueChoice.$model"/>
          <label class="form-check-label" for="uniqueChoice">Unique</label>

        </div>
        <div
            v-for="$error in form.uniqueChoice.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
      <div class="form-group col-md-6">
        <div class="form-check">
          <input
              id="mandatoryChoice"
              class="form-check-input"
              type="checkbox"
              :class="['form-check-input', { 'is-invalid': form.mandatoryChoice.$error }]"
              v-model="form.mandatoryChoice.$model"/>
          <label class="form-check-label" for="mandatoryChoice">Obligatoire</label>
        </div>
        <div
            v-for="$error in form.mandatoryChoice.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nombre minimum</label>
        <input
            min="0"
            type="number"
            id="minChoice"
            :class="['form-control', { 'is-invalid': form.minChoice.$error }]"
            v-model="form.minChoice.$model" />
        <div
            v-for="$error in form.minChoice.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
      <div class="form-group col-md-6">
        <label for="name">Nombre maximum</label>
        <input
            min="1"
            type="number"
            id="maxChoice"
            :class="['form-control', { 'is-invalid': form.maxChoice.$error }]"
            v-model="form.maxChoice.$model" />
        <div
            v-for="$error in form.maxChoice.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>

<!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ pathGroup ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import {minValue, required} from "@vuelidate/validators";
import {PathGroup, Props, SetupContext} from "@/types";

interface ComponentProps extends Props {
  pathGroup: PathGroup;
}

export default {
  props: {
    pathGroup: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const name = ref();
    const uniqueChoice = ref<boolean>(false);
    const mandatoryChoice = ref<boolean>(false);

    const minChoice = ref<number>(0);
    const maxChoice = ref<number>(1);

    watch(() => props.pathGroup, (pathGroup) => {
      if(pathGroup) {
        name.value = pathGroup?.name;
        uniqueChoice.value = pathGroup?.uniqueChoice;
        mandatoryChoice.value = pathGroup?.mandatoryChoice;
        maxChoice.value = pathGroup?.maxChoice;
        minChoice.value = pathGroup?.minChoice;
      }
    }, {
      immediate: true
    });

    const form = useVuelidate({
      name: { required },
      uniqueChoice: { },
      mandatoryChoice: { },
      minChoice: {
        required,
        minValue: minValue(0)
      },
      maxChoice: {
        required,
        minValue: minValue(1)
      },
    }, {
      name,
      uniqueChoice,
      mandatoryChoice,
      maxChoice,
      minChoice
    });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        console.log(form)
        try {
          const pathGroupData = {
            name: name.value,
            uniqueChoice: uniqueChoice.value,
            mandatoryChoice: mandatoryChoice.value,
            maxChoice: maxChoice.value,
            minChoice: minChoice.value,
          };
          emit('submit-form', pathGroupData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      name,
      form,
      submit
    };
  }
};
</script>
