<template>
  <form @submit.prevent="submit">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Nom</label>
        <input
            id="name"
            :class="['form-control', { 'is-invalid': form.name.$error }]"
            v-model.trim="form.name.$model" />
        <div
            v-for="$error in form.name.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="path">Groupement</label>
        <select
            id="path"
            :class="['form-control', { 'is-invalid': form.pathGroupId.$error }]"
            v-model="form.pathGroupId.$model">
          <option :value="null">Aucun</option>
          <option v-for="(pathGroup, index) in pathGroupList" :value="pathGroup.id" :key="index">
            {{ pathGroup.name }}
          </option>
        </select>
        <div
            v-for="$error in form.pathGroupId.$errors"
            :key="$error.$validator"
            class="invalid-feedback">{{ $error.$message }}
        </div>
      </div>
    </div>

<!--    <div v-if="errorMessage">{{ errorMessage }}</div>-->
    <button class="btn btn-primary" type="submit" :disabled="form.$invalid">{{ path ? "Modifier" : "Ajouter" }}</button>
  </form>
</template>

<script lang="ts">
import {onMounted, ref, watch} from "vue";
import { useVuelidate } from "@vuelidate/core";
import { required} from "@vuelidate/validators";
import {Path, PathGroup, Props, SetupContext} from "@/types";
import adminService from "@/services/adminService";
import {useRoute} from "@/hooks/useRoute";

interface ComponentProps extends Props {
  path: Path;
}

export default {
  props: {
    path: Object
  },
  setup: (props: ComponentProps, { emit }: SetupContext) => {

    const route = useRoute();

    const name = ref();
    const pathGroupId = ref<number|null>(null);

    const pathGroupList = ref<PathGroup[]>([]);

    watch(() => props.path, (path: Path) => {
      if(path) {
        name.value = path?.name;
        pathGroupId.value = path?.pathGroup?.id || null
      }
    }, {
      immediate: true
    });

    onMounted(async () => {
      const { organizationSlug, trainingSlug, schoolYear } = route.params;
      try {
        const { items } = await adminService.getOrganizationTrainingPathGroupList(organizationSlug, trainingSlug, schoolYear, { limit: 100 });
        pathGroupList.value = items;
      } catch (e) {
        // console.log(e)
      }
    })

    const form = useVuelidate({
      name: { required },
      pathGroupId: {},
    }, {
      name,
      pathGroupId
    });

    const submit = async () => {
      form.value.$touch();
      if(!form.value.$invalid) {
        try {
          const pathData = {
            name: name.value,
            pathGroup: pathGroupId.value
          };
          emit('submit-form', pathData)
        } catch (error) {
          // console.log(error)
        }
      }
    }

    return {
      form,
      pathGroupList,
      submit
    };
  }
};
</script>
