<template>
  <nav class="navbar main-navbar navbar-expand-lg navbar-dark bg-primary">
    <router-link v-if="sessions.length > 1" class="navbar-brand" :to="{name: 'student'}">Student</router-link>
    <router-link v-else-if="sessions.length === 1" class="navbar-brand" :to="{name: 'student-session', params: { schoolYear: sessions[0].schoolYear}}">{{ organization.name }}</router-link>
    <div v-else class="navbar-brand">{{ organization.name }}</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav" v-if="currentUser">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.email }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <span class="dropdown-item" >{{ currentUser.fullName }} </span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" @click="onClickDisconnect()">Déconnexion</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import {useCurrentUser} from "@/hooks/useCurrentUser";
import {useRouter} from "vue-router";
import Cookies from "js-cookie";
import {useSetCurrentUser} from "@/hooks/useSetCurrentUser";
import {useCurrentOrganization} from "@/hooks/useCurrentOrganization";

export default {
  props: {
    sessions: Array
  },
  setup: () => {

    const currentUser = useCurrentUser();
    const setCurrentUser = useSetCurrentUser();
    const router = useRouter();
    const organization = useCurrentOrganization();

    const onClickDisconnect = async () => {
      Cookies.remove(window.env.JWT_COOKIE_HP, { domain: `.${window.env.DOMAIN}`});
      await router.push({ name: "login" });
      setCurrentUser(null);
    }

    return {
      currentUser,
      onClickDisconnect,
      organization
    };
  }
};
</script>
